---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 5);
---

<BaseLayout>
  <style>
    a:link {
      color: green;
      background-color: transparent;
      text-decoration: none;
    }

    a:visited {
      color: green;
      background-color: transparent;
      text-decoration: none;
    }

    a:hover {
      color: green;
      background-color: transparent;
      text-decoration: underline;
    }

    a:active {
      color: green;
      background-color: transparent;
      text-decoration: underline;
    }
  </style>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Keyvan Majd</div>
    <div class="text-3xl py-3 font-bold">CS PhD Student @ ASU</div>
    <div class="col-12 text-justify">
      <br />
      <p class="text-lg text-justify">
        I am currently a PhD student in the <a
          href="https://scai.engineering.asu.edu"
          >School of Computing and Augmented Intelligence</a
        > at <a href="https://asu.edu">Arizona State University</a>, co-advised
        by <a href="http://henibenamor.weebly.com">Dr. Heni Ben Amor</a> and <a
          href="http://fainekos.net">Dr. Georgios Fainekos</a
        >. I graduated my M.Sc. in Electrical Engineering from <a
          href="https://www.ncat.edu">North Carolina A&T State University</a
        > in 2019. Before that, I received my B.Sc. in Electrical Engineering from
        <a href="https://en.um.ac.ir">Ferdowsi University of Mashhad</a> in 2015.
      </p>
      <br />
      <p class="text-lg text-justify">
        My research primarily focuses on enhancing the capability of robots to
        operate safely in real-world environments, especially in scenarios
        involving human interaction. I have explored different safety-critical
        domains, including assistive robotics, autonomous navigation, and
        mobility. I approach this by combining the strengths of planning and
        control with data-driven techniques. Specifically, my research topic
        includes integrating the global optimization techniques with robot
        learning to ensure the robot follows a set of safety specifications. To
        achieve this, I am developing a novel framework combining imitation
        learning and neural network repair to learn safe policies for robots. I
        am also interested in developing computationally efficient
        optimization-based techniques for learning safe control policies in
        robot learning.
      </p>
    </div>
  </div>
  <style>
    * {
      box-sizing: border-box;
    }

    /* Create two unequal columns that floats next to each other */
    .column {
      float: left;
      padding: 1px;
    }

    .left {
      width: 13%;
    }

    .right {
      width: 87%;
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  </style>
  <div style="margin-bottom:1cm;">
    <div class="text-3xl w-full font-bold mb-2">
      Current research projects {"</>"}
    </div>
    <HorizontalCard
      title={last_posts[0].frontmatter.title}
      img={last_posts[0].frontmatter.heroImage}
      desc={last_posts[0].frontmatter.description}
      url={last_posts[0].url}
      badge={last_posts[0].frontmatter.badge}
      target="_self"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title={last_posts[1].frontmatter.title}
      img={last_posts[1].frontmatter.heroImage}
      desc={last_posts[1].frontmatter.description}
      url={last_posts[1].url}
      badge={last_posts[1].frontmatter.badge}
      target="_self"
    />
    <!-- <div class="divider my-0"></div> -->
  </div>

  <div style="margin-bottom:1cm;">
    <div class="text-3xl w-full font-bold mb-2">Past research projects</div>
    <HorizontalCard
      title={last_posts[2].frontmatter.title}
      img={last_posts[2].frontmatter.heroImage}
      desc={last_posts[2].frontmatter.description}
      url={last_posts[2].url}
      badge={last_posts[2].frontmatter.badge}
      target="_self"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title={last_posts[3].frontmatter.title}
      img={last_posts[3].frontmatter.heroImage}
      desc={last_posts[3].frontmatter.description}
      url={last_posts[3].url}
      badge={last_posts[3].frontmatter.badge}
      target="_self"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
      title={last_posts[4].frontmatter.title}
      img={last_posts[4].frontmatter.heroImage}
      desc={last_posts[4].frontmatter.description}
      url={last_posts[4].url}
      badge={last_posts[4].frontmatter.badge}
      target="_self"
    />
  </div>

  <!-- <div class="divider my-0"></div> -->

  <!-- <br />
  <br /> -->
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">News</div>
  </div>
  <div class="row">
    <div class="column left">
      <span class="badge date">Dec 9, 2022</span>
    </div>
    <div class="column right">
      <div class="mb-10 text-justify">
        I'll present our paper <a href="/papers/Neurips22.pdf"
          >"Certifiably-correct Control Policies for Safe Learning and
          Adaptation in Assistive Robotics"</a
        > at <a href="http://www.robot-learning.ml/2022/">
          NeurIPS 2022 5th Robot Learning workshop: Trustworthy Robotics</a
        >. Talk is available <a
          href="https://recorder-v3.slideslive.com/#/share?share=77885&s=05218cda-a354-4f6d-a6fb-8455c79c27ad"
          >here</a
        >.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column left">
      <span class="badge date">Oct 28, 2022</span>
    </div>
    <div class="column right">
      <div class="mb-10 text-justify">
        <a href="/papers/Neurips22.pdf">Our paper</a> at NeurIPS 2022 Robot Learning
        workshop will receive <b>a Best Paper Award</b>!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column left">
      <span class="badge date">Oct 21, 2022</span>
    </div>
    <div class="column right">
      <div class="mb-10 text-justify">
        Our paper <a href="/papers/Neurips22.pdf"
          >"Certifiably-correct Control Policies for Safe Learning and
          Adaptation in Assistive Robotics"</a
        > has been accepted to <a href="http://www.robot-learning.ml/2022/">
          NeurIPS 2022 Robot Learning workshop</a
        >!
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column left">
      <span class="badge date">Sep 10, 2022</span>
    </div>
    <div class="column right">
      <div class="mb-10 text-justify">
        Our paper <a href="https://openreview.net/forum?id=X4228W0QpvN"
          >"Safe Robot Learning in Assistive Devices through Neural Network
          Repair"</a
        > has been accepted to <a href="https://corl2022.org">CoRL 2022</a>!
      </div>
    </div>
  </div>

  <!-- <div>
      <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
    </div>

    <HorizontalCard
      title="Demo Project 1"
      img="/post_img.webp"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="#"
      badge="NEW"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
    <div class="divider my-0"></div>
    <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />


    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    } -->
</BaseLayout>
